<!DOCTYPE html>
<html lang="en">
<!-------------- Se incluye head dese la carpeta /views/partils------------------------>
<%- include('partials/head.ejs') %>

<body>

<!-------------- Se incluye el header dese la carpeta /views/partils------------------------>
<%- include('partials/header.ejs') %>

<!------------------------------ MAIN ----------------------------------------------->
    <main>

        <div class="destacado">
            <h2>Productos</h2>
        </div>

        <section class="prod-display-products">
            <% for(let i=0; i< allProducts.length; i++) {%>
                <div class="card-products">
                    <img class="card-img-products" src="<%= allProducts[i].img %>" alt="laptop">
                    <div class="separator">
                        <h3><%= allProducts[i].marca + " " + allProducts[i].referencia %></h3>
                        <h4>$<%= allProducts[i].precio %></h4>
                        <a href="#"><i class="fa-solid fa-eye"></i> Detalles</a>
                    </div>
                </div>
            <%}%>
        </section>
    </main>

<!-------------- FOOTER ----------------------------------------------->
<%- include('partials/footer.ejs') %>

</body>
</html>