<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

<!---------------------- MAIN ----------------------------------------------->
<body class="body-productEdit">
    <form method="POST" action="/confirm-create" enctype="multipart/form-data">
        <section class="formContainer">
            <h4>Carga de Producto</h4>
            <hr>

            <% if(locals.errors){
                errors.forEach((err) => {%>
                    <p class="register-alert"><i class="fa-solid fa-circle-radiation"></i> <%= err.msg %></p>
                <%})%>
            <%}%>

            <label for="product"><b>Nombre del producto</b></label>
            <input class="register-input" type="text" placeholder="Referencia" name="referencia" value="<%= locals.prev && prev.referencia ? prev.referencia: '' %>">

            <label for="description"><b>Descripción</b></label>
            <textarea class="register-input" type="text" placeholder="Breve Descripción del producto" name="spec" value="<%= locals.prev && prev.spec ? prev.spec : '' %>" ></textarea>

            <label for="price"><b>Precio</b></label>
            <input  class="register-input" type="number" placeholder="$" name="precio" >
            <br>
            <br>
            <div>
                <label for="image"><b>Imágen</b></label>
                <input class="register-input" type="file" name="image" value="<%= locals.prev && prev.image ? prev.image : '' %>">
            </div>
            <br>
            <div>
                <label for="dimentions"><b>Marca</b></label>
                <input class="register-input" type="text" placeholder="Marca" name="marca" >
            </div>

            <div>
                <label for="procesador">Procesador</label>
                <select name="procesador" id="procesador">
                    <option value="1">Intel i5</option>
                    <option value="2">Intel i7</option>
                    <option value="3">AMD Ryzen 7</option>
                </select>
            </div>

            <div>
                <label for="pantalla">Pantalla</label>
                <select name="pantalla" id="pantalla">
                    <option value='1'>13"</option>
                    <option value='2'>14"</option>
                    <option value='3'>15.6"</option>
                </select>
            </div>

            <div>
                <label for="category">Memoria</label>
                <select name="memoria" id="memoria">
                    <option value="1">16 GB DDR5-4800MHz (SODIMM) (2 x 8 GB)</option>
                    <option value="2">12 GB DDR5-4800MHz (SODIMM) (3 x 4 GB)</option>
                    <option value="3">8 GB DDR5-4800MHz (SODIMM) (1 x 8 GB)</option>
                    <option value="4">4 GB DDR5-4800MHz (SODIMM) (2 x 2 GB)</option>
                </select>
            </div>

            <div>
                <label for="category">Almacenamiento</label>
                <select name="almacenamiento" id="almacenamiento">
                    <option value="1">2 TB SSD M.2 2280 PCIe Gen4 TLC</option>
                    <option value="2">1 TB SSD M.2 2280 PCIe Gen4 TLC</option>
                    <option value="3">500 GB SSD M.2 2280 PCIe Gen4 TLC</option>
                    <option value="4">256 GB SSD M.2 2280 PCIe Gen4 TLC</option>
                </select>
            </div>

            <div>
                <label for="destacado">Destacado</label>
                <select name="destacado" id="destacado">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>



                <button type="button" class="cancel">Cancelar</button>
                <button type="submit" class="signup">Agregar</button>
            </div>
        </div>
    </form>

</body>

</html>